@media screen and (max-width: 1250.01px) {
    .about {
        &__content {
            a {
                width: 70%;
            }
        }
    }
}

@media screen and (max-width: 991.98px) {
    .about {
        padding: 70px 0 80px;

        &__image {
            display: none;
        }

        &__content {
            width: 100%;
            text-align: center;

            h3 {
                font-size: 1.75em;
            }

            h2 {
                font-size: 2em;
            }

            p {
                font-size: 0.875em;
            }

            a {
                margin: 0 auto;
            }
        }
    }
}