.footer {
    .contacts {
        margin-bottom: 100px;

        &__wrapper {
            display: flex;
            justify-content: space-between;

            h3 {
                @extend %block-title-style;
                font-weight: 700;
                font-size: 1.875em;
                margin-bottom: 40px;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            text-align: right;

            ul {
                display: flex;
                flex-direction: column;
                gap: 30px;

                li {

                    h4,
                    p {
                        @extend %block-paragraph-style;
                        line-height: 165%;
                    }

                    p {
                        font-weight: 400;
                    }
                }
            }
        }

        &__medias {
            display: flex;
            flex-direction: column;
            text-align: center;
            position: relative;

            span {
                @extend %block-paragraph-style;
                display: block;
                margin: 25px auto 50px;
                width: 70%;
                line-height: 165.4%;
            }

            ul {
                @extend %centring;
                gap: 15px;

                li a {
                    @extend %centring;
                    padding: 20px;
                    border-radius: 50%;
                    background-color: var(--light-grey-bg);
                }
            }

            &::after, &::before{
                content: '';
                background-color: var(--grey-bg);
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
            }

            &::after{
                right: 50px;
            }

            &::before{
                left: 50px;
            }
        }

        &__utilities {
            display: flex;
            flex-direction: column;

            ul {
                display: flex;
                flex-direction: column;
                gap: 30px;

                li {
                    a {
                        @extend %block-paragraph-style;
                        font-weight: 400;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    
    .line{
        width: 100%;
        height: 2px;
        background-color: var(--light-grey-bg);
    }

    .copyright{
        @extend %block-paragraph-style;
        text-align: center;
        margin: 17px auto 27px;
        span{
            font-weight: 700;
        }
    }
}