.projects-page {
    &__banner {
        @extend %centring;
        background: url(./../../../assets/images/projects-background.png) center/cover no-repeat;
        padding: 185px 0;
        margin-bottom: 175px;

        h2 {
            @extend %main-title-style;
            text-align: center;
        }
    }

    &__projects {
        @extend %centring;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 25px;

        &__project {
            width: 30%;

            &__image {
                background-size: cover;
                background-repeat: no-repeat;
                height: 420px;
                border-radius: 30px;
                position: relative;

                &__next {
                    position: absolute;
                    top: 25px;
                    left: 25px;
                    background-color: var(--clean-white-bg);
                    opacity: 0;
                    border-radius: 30px;
                    width: calc(100% - 50px);
                    height: calc(100% - 50px);
                    cursor: pointer;
                    transition: all .3s;

                    &::after {
                        content: url(./../../../assets/icons/projects-next.svg);
                        position: absolute;
                        top: calc(50% - 25px);
                        left: calc(50% - 25px);
                    }
                }

                &:hover &__next {
                    opacity: .9;
                }
            }

            &:nth-child(1) .image {
                background-image: url(./../../../assets/images/lemon.png);
            }

            &:nth-child(2) .image {
                background-image: url(./../../../assets/images/carrot.png);
            }

            &:nth-child(3) .image {
                background-image: url(./../../../assets/images/leaf.png);
            }

            &:nth-child(4) .image {
                background-image: url(./../../../assets/images/tomato.png);
            }

            &:nth-child(5) .image {
                background-image: url(./../../../assets/images/black-raspberry.png);
            }

            &:nth-child(6) .image {
                background-image: url(./../../../assets/images/orange.png);
            }

            h2 {
                @extend %block-title-style;
                font-size: 1.5625em;
            }

            h3 {
                @extend %block-subtitle-style;
                font-size: 1.375em;
            }
        }
    }

    .form{
        margin-top: 150px;
    }
}