html{
    --blue-text: #274C5B;
    --green-text: #7EB693;
    --yellow-text: #EFD372;
    --grey-text: #D4D4D4;
    --white-text: #F9F8F8;
    --light-grey-text: #EFF6F1;
    --dark-grey-text:#525C60;
    --clean-white-text: #FFFFFF;
    --clean-black-text: #000000;
    --pale-green-text: #F1F8F4;
    --dark-green-text: #8FA8A8;

    --blue-bg: #274C5B;
    --dirty-blue-bg: #335B6B;
    --green-bg: #7EB693;
    --yellow-bg: #EFD372;
    --grey-bg: #D4D4D4;
    --white-bg: #F9F8F8;
    --light-grey-bg: #EFF6F1;
    --dark-grey-bg :#525C60;
    --clean-white-bg: #FFFFFF;
    --clean-black-bg: #000000;
    --pale-green-bg: #F1F8F4;
    --black-bg: #1E1E1E;
    --ohra-bg: rgba(253, 176, 45, 0.16);
    --dark-green-bg: #E3F1E9;

    --search-block-background: #FAFAFA;
    --cart-border: #E0E0E0;
    --form-placeholder-text: #ABABAB;
    --non-actual-price: #B8B8B8;
    --non-active-button-bg: #EFF6F1;
    --pages-light-ohra-bg: #FFF4CD;
}